<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://com.manukhiber.myapp" version="1.0.0" viewmodes="maximized">
	<tizen:application required_version="2.2"/>
	<author href="http://smkn2cipatujah.sch.id" email="verihusa@gmail.com">veri gaming</author>
	<content src="index.html" />
	<description>Gim perjuangan manuk yang hiber terus menerus tanpa henti</description>
	<icon src="icon-128.png" width="128" height="128" />
	<name>Manuk Hiber</name>
	<tizen:setting context-menu="disable" hwkey-event="enable" background-support="disable" encryption="disable" install-location="auto" screen-orientation="portrait" />
	<feature name="http://tizen.org/feature/screen.size.all"/>
</widget>